---
import translation from "@translation/en.json";
import LanguageSelector from "@components/LanguageSelector";
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/Navbar";
import Banner from "@components/Banner";
import About from "@components/About";
import Experience from "@components/Experience"
import Project from "@components/Project";
import Footer from "@components/Footer";
import "@styles-app/global.css";
---

<Layout title="Laura Lopez" translation={translation}>
	<div slot="selector">
		<LanguageSelector/>
	</div>
	<Navbar title="Laura Lopez" translation={translation} client:load/>
	<Banner translation={translation}/>
	<About translation={translation} />
	<Experience translation={translation} />
	<Project translation={translation} />
	<Footer translation={translation}/>
</Layout>